#!/bin/bash
docker login -u {{ USERNAME }} -p {{ VAULT_DOCKERHUB_PASS }}
docker push {{ USERNAME }}/{{ IMAGE_NAME }}:{{ IMAGE_TAG }} {{ playbook_dir }}
docker stop {{ CONTAINER_NAME }} || true
docker rm {{ CONTAINER_NAME }} || true
docker rmi {{ USERNAME }}/{{ IMAGE_NAME }}:{{ IMAGE_TAG }} {{ playbook_dir }}